name: Generate Readme Data

on:
    schedule: 
        - cron: "0 0 * * *"
    workflow_dispatch: 

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          contents: write
          statuses: read
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name: generate-snake
              uses: Platane/snk/svg-only@v3
              with: 
                    github_user_name: ${{ github.repository_owner }}
                    outputs: |
                        ./images/snakes/dark.svg?palette=github-dark&&color_snake=blue
                        ./images/snakes/light.svg?color_snake=#7845ab
              env:
                  GITHUB_TOKEN: ${{ github.token }}
            - name: generate github status
              uses: soulteary/github-readme-stats-action@v1.0.0
              with:
                  card: stats
                  options: theme=default
                  path: images/stats/default.svg
                  token: ${{ github.token }}
            - name: generate github status(dark)
              uses: soulteary/github-readme-stats-action@v1.0.0
              with:
                  card: stats
                  options: theme=dark
                  path: images/stats/dark.svg
                  token: ${{ github.token }}
            - name: generate github top-langs
              uses: soulteary/github-readme-stats-action@v1.0.0
              with:
                  card: top-langs
                  options: theme=default&layout=compact
                  path: images/top-langs/default.svg
                  token: ${{ github.token }}
            - name: generate github top-langs(dark)
              uses: soulteary/github-readme-stats-action@v1.0.0
              with:
                  card: top-langs
                  options: theme=dark&layout=compact
                  path: images/top-langs//dark.svg
                  token: ${{ github.token }}
            - name: setup git
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            - name: commit changes
              run: |
                  git add .
                  git commit -m "Update profile"
            - name: push changes
              run: |
                  git push
