name: Generate Readme Data

on:
    schedule: 
        - cron: "0 0 * * *"
    workflow_dispatch: 

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          contents: write
          statuses: read
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name: install git-filter-repo
              run: |
                sudo apt-get update -y
                sudo apt-get install git-filter-repo
            - name: clean generated commits
              run: |
                url="$(git remote get-url origin)"
                branch="$(git branch --show-current)"
                echo "Cleaning..."
                git filter-repo --force --commit-callback '
                if b"github-actions[bot]" in [commit.author_name, commit.committer_name]:
                  commit.skip()
                '
                echo "Fixing remotes..."
                git remote add origin "$url"
                git branch --set-upstream-to "origin/$branch" "$branch"
            - name: get github-readme-stats
              uses: actions/checkout@v6
              with:
                repository: soulteary/github-readme-stats
                ref: v1.0.0
                path: github-readme-stats
            - name: setup go
              uses: actions/setup-go@v5
              with:
                go-version: stable
                cache-dependency-path: "**/*.sum"
            - name: build github-readme-stats
              working-directory: github-readme-stats
              run: go build -o '${{ runner.temp }}/github-readme-stats' ./cmd/server 
            - name: generate-snake
              uses: Platane/snk/svg-only@v3
              with: 
                    github_user_name: ${{ github.repository_owner }}
                    outputs: |
                        ./images/snakes/dark.svg?palette=github-dark&&color_snake=blue
                        ./images/snakes/light.svg?color_snake=#7845ab
              env:
                  GITHUB_TOKEN: ${{ github.token }}
            - name: generate github status
              env:
                PAT_1: ${{ github.token }}
              run: |
                for item in stats top-langs
                do
                  for theme in default dark
                  do
                    mkdir -p "images/$item"
                    args=("--type=$item"
                          '--username=${{ github.repository_owner }}'
                          "--theme=$theme"
                          "--output=images/$item/$theme.svg")
                    '${{ runner.temp }}/github-readme-stats' "${args[@]}"
                  done
                done
            - name: setup git
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            - name: commit changes
              run: |
                  git add images
                  git commit -m "Update profile"
            - name: push changes
              run: |
                  git push -f
