name: Generate Readme Data

on:
    schedule: 
        - cron: "0 0 * * *"
    workflow_dispatch: 

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          contents: write
          statuses: read
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name: setup go
              uses: actions/setup-go@v5
              with:
                go-version: stable
            - name: build github-readme-stats
              run: go install soulteary/github-readme-stats@v1.0.0 
            - name: generate-snake
              uses: Platane/snk/svg-only@v3
              with: 
                    github_user_name: ${{ github.repository_owner }}
                    outputs: |
                        ./images/snakes/dark.svg?palette=github-dark&&color_snake=blue
                        ./images/snakes/light.svg?color_snake=#7845ab
              env:
                  GITHUB_TOKEN: ${{ github.token }}
            - name: generate github status
              env:
                PAT_1: ${{ github.token }}
              run: |
                for item in stats top-langs
                do
                  for theme in default dark
                  do
                    mkdir -p "images/$item"
                    args=("--type=$item"
                          '--username=${{ github.repository_owner }}'
                          "--theme=$theme"
                          "--output=images/$item/$theme.svg")
                    go run github.com/soulteary/github-readme-stats@v1.0.0 "${args[@]}"
                  done
                done
            - name: setup git
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            - name: commit changes
              run: |
                  git add .
                  git commit -m "Update profile"
            - name: push changes
              run: |
                  git push
